# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ResilienceProjectB.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Jonas\OneDrive\Skrivebord\Eksamen\Advanced backend development\4 - Resiliance\Lektion9_Resilience\Lektion9_Resilience\ResilienceProjectB\.idea\.idea.ResilienceProjectB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
